div(ng-controller='MainCtrl')
  .modal-header  
    button.close(type='button', ng-click='$dismiss()') &times;
    h4.modal-title Information
  .modal-body
    form
      table
        tr
          th 
            p Event Name:&nbsp;  
          td 
            p {{ modalEvent.name }}
        tr
          th 
            p Description:&nbsp;  
          td 
            p {{ modalEvent.desc }}
        tr
          th 
            p Hosts:&nbsp;  
          td 
            p {{ modalEvent.host }}
  .modal-footer(ng-controller='ThingsCtrl')
    table
      tr
        td(align="left")
          div(class="count")
            {{ modalEvent.votes }}
        td(align="right")
          div(ng-click='upvote(modalEvent)', class="increment up") &nbsp;
          div(ng-click='downvote(modalEvent)', class="increment down") &nbsp;

script.
  var $button = $('.increment');
  var $vote = $('.increment').click(function() {
    $button.removeClass('button-on');
    $button.addClass('button-off');
    $(this).removeClass('button-off');
    $(this).addClass('button-on');
  });