div(ng-controller='MainCtrl')
  .modal-header  
    button.close(type='button', ng-click='$dismiss()') &times;
    h4.modal-title Add Event
  .modal-body
    p(ng-if='modal.text', ng-bind='modal.text')
    div(ng-if='modal.html', ng-bind-html='modal.html')
    form
      table#inputTable
        tr
          .form-group
            input(ng-model='modalEvent.name' type="text", placeholder="Event Name")
        tr
          .form-group
            input(ng-model='modalEvent.host' type="text", placeholder="Host(s)")
        tr
          .form-group
            textarea(ng-model='modalEvent.desc' rows="4", placeholder="Short Description")
  .modal-footer
    button.btn(ng-click='send(event)') Add
