div(ng-controller='MainCtrl')
  .modal-header  
    button.close(type='button', ng-click='$dismiss()') &times;
    h4.modal-title Add Event
  .modal-body
    p(ng-if='modal.text', ng-bind='modal.text')
    div(ng-if='modal.html', ng-bind-html='modal.html')
    form
      table
        tr
          .form-group
            th 
              label Event Name &nbsp;  
            th 
              input(ng-model='modalEvent.name' type="text", placeholder="Frisbee on the quad")
        tr
          .form-group
            th 
              label Description&nbsp;  
            th 
              input(ng-model='modalEvent.desc' type="textarea", placeholder="What is it about?")
        tr
          .form-group
            th 
              label Hosting Organization&nbsp;  
            th 
              input(ng-model='modalEvent.host' type="textarea", placeholder="Hopkins Wading Team")
  .modal-footer
    button.btn(ng-click='send(event)') Add
