div(ng-include='"components/navbar/navbar.html"')
.con(ng-controller='ThingsCtrl')
  ul
    li(ng-repeat="thing in things") 
      {{thing.name }}
  .thingscontainer
    #things

footer.footer
  .container
    p
      | hoPSA
      = ' | '
      HopHacks 2015 <3