@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic);

.vote {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Noto Sans";
  position: relative;
  width: 10rem;
  height: 10rem;
  margin: 1rem;
}

.increment {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 0;
      -ms-flex: 1 0 0;
          flex: 1 0 0;
  text-align: center;
  -webkit-transition: 0.3s;
          transition: 0.3s;
  cursor: pointer;
}
.increment.up {
  background: #4BC35F;
  height: 50%;
  width: 25px;
  border-radius: 7px;
  margin-bottom: 0.25rem;
}
.increment.down {
  background: #C15044;
  height: 50%;
  width: 25px;
  border-radius: 7px;
}
.button-off:hover {
  opacity: 0.8;
}

.button-on {
  opacity: 1;
}
.button-off {
  opacity: 0.5;
}

.count {
  border-radius: 0.1rem;
  background: #FFFFFF;
  width: 5rem;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 5rem;
  text-align: center;
  pointer-events: none;
}
.count.upvoted {
  color: #4BC35F;
}
.count.downvoted {
  color: #C15044;
}

.bump {
  -webkit-animation: bump 200ms;
          animation: bump 200ms;
}

@-webkit-keyframes bump {
  30% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes bump {
  30% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.things-container {
    position: center;
    width: 95%;
    margin: 10px ;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.thing-name-container {
    position: left;
    text-align: left;
}

.thing-votes-container {
    position: right;
    text-align: right;
    width: 20%;
}

.thing-votebuttons-container {
    position: right;
    text-align: right;
    width: 30px;
}

.thing-text {
  border-radius: 0.1rem;
  background: #FFFFFF;
  width: 5rem;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 5rem;
  text-align: center;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.navbar-text {
    margin-left: 15px;
}