div(ng-include='"components/navbar/navbar.html"')
.con(ng-controller='ThingsCtrl')
  table(class="things-container")
    tr(ng-repeat="thing in things") 
      td(align="left")
        div(class="thing-name-container")
          a(ng-href="{{ getUrl(thing) }}", class="thing-text") 
            {{ thing.name }} 
          br
          {{ thing.desc }}
      td(align="right")
        div(class="thing-time-container")
          p Start: {{ prettyDate(thing.startTime) }}
        div(class="thing-time-container")
          p End: {{ prettyDate(thing.endTime) }}
      td(align="right")
        div(class="count")
          {{ thing.votes }}
      td(align="right")
        div(class="thing-votebuttons-container")
          div(ng-click="upvote(thing)", class="button-off increment up") &nbsp;
          div(ng-click="downvote(thing)", class="button-off increment down") &nbsp;

footer.footer
  .container
    p
      | hoPSA
      = ' | '
      HopHacks 2015 <3

script.
  var $button = $('.increment');
  var $vote = $('.increment').click(function() {
    $button.removeClass('button-on');
    $button.addClass('button-off');
    $(this).removeClass('button-off');
    $(this).addClass('button-on');
  });
