div(ng-include='"components/navbar/navbar.html"')
.con(ng-controller='ThingsCtrl')
  ul
    li(ng-repeat="thing in things") 
      a(href= '/') {{thing.name}} : {{thing.votes}}
      button.btn.btn-success(ng-click = 'upvote(thing)') ^ 
      button.btn.btn-danger(ng-click = 'downvote(thing)') v

  .thingscontainer
    #things

footer.footer
  .container
    p
      | hoPSA
      = ' | '
      HopHacks 2015 <3