div(ng-include='"components/navbar/navbar.html"')
.con(ng-controller='ThingsCtrl')
  table(class="things-container")
    tr(ng-repeat="thing in things") 
      td(align="left")
        div(class="thing-name-container")
          a(ng-href="{{getUrl(thing)}}") {{thing.name}}
      td(align="right")
        div(class="thing-votes-container")
          {{thing.votes}}
      td(align="right")
        div(class="thing-votebuttons-container vote roundrect")
          button.btn.btn-success(ng-click="upvote(thing)", class="increment up") ^ 
          button.btn.btn-danger(ng-click="downvote(thing)", class="increment down") v
          div(class="count")
