script(src="https://api.tiles.mapbox.com/mapbox.js/v2.2.0/mapbox.js")
link(href="https://api.tiles.mapbox.com/mapbox.js/v2.2.0/mapbox.css", rel="stylesheet")

div(ng-include='"components/navbar/navbar.html"')
.con(ng-controller='MainCtrl')
  .mapcontainer
    #map